@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    font-family: sans-serif;
}
#nav-section{
    background-color:#c74923;
    height:100px;
}
#mobile-nav{
    background-color: #c74923;
    height: 100px;
}
.icon{
    height: 15vh;
}
.img{
    height: 80px;
    margin-left: 80px;
    margin-bottom: 0px;
}

#form{
    height: 120vh;
}
#mobileform{
    height: 100vh;
}
#info{
    height: 70vh;
    background-color:rgb(233, 229, 229);
}

.required {
    color: #f90;
}


#button{
    width: 110px;
    background: #2ca868;
    height: 50px;
    color: white;
    border: 1px solid ;
    font-size: 18px;
}
/* #error{
    padding:0px;
    background-color:black;
    color: red;
    margin: -70px 0 0px 0px;
} */

label.error {
    color: red;
}

.border{
    border-bottom: black solid 1px;
}

@media screen and (max-width:1024px){
    #nav-section{
        background-color:#c74923;
        height:100px;
    }
    
    .icon{
        height: 10vh;
    }
    .img{
        height: 80px;
        margin-left: 80px;
        margin-bottom: 0px;
    }
    
    #form{
        height: 50vh;
    }
    #info{
        height: 30vh;
        background-color:rgb(233, 229, 229);
    }
    
    
    #button{
        width: 110px;
        background: #2ca868;
        height: 50px;
        color: white;
        border: 1px solid ;
        font-size: 18px;
    }
    #error{
        width: 50%;
        padding:0px;
        background-color:black;
        color: red;
        margin: -70px 0 0px 0px;
    }

}

@media screen and (max-width:480px){
    #nav-section{
        background-color:#c74923;
        height:100px;
    }
    #mobileinfo{
        height: 110vh;
        background-color:rgb(233, 229, 229);
    }
    
    #realForm{
        height: 100vh;
        background-color:rgb(233, 229, 229);
        border: none;
        
    }
    
    .icon{
        height: 10vh;
    }
    .img{
        height: 80px;
        margin-left: 80px;
        margin-bottom: 0px;
    }
    
    #form{
        height: 50vh;
    }
    #info{
        height: 30vh;
        background-color:rgb(233, 229, 229);
    }
    
    
    #button{
        width: 110px;
        background: #2ca868;
        height: 50px;
        color: white;
        border: 1px solid ;
        font-size: 18px;
    }
    #error{
        padding:0px;
        background-color:black;
        color: red;
    }


}